<div class="wrapper">
    <form class="form-signin" ng-submit="login()">       
        <h2 class="form-signin-heading">EigenMusik</h2>
        <input type="text" class="form-control" ng-model="username" placeholder="{{ 'USERNAME' | translate}}" required="" autofocus="" />
        <input type="password" class="form-control" ng-model="password" placeholder="{{ 'PASSWORD' | translate }}" required=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" loading-button><span translate>LOGIN</span></button>
        <a class="btn btn-lg btn-default btn-block" href="#/register" translate>REGISTER</a>
        <a href="" ng-click="forgottenText='Tough'" ng-bind="forgottenText" translate>FORGOTTEN_CREDENTIALS</a>
        <div ng-show="alert" class="alert alert-danger text-center" role="alert">{{alert}}</div>
    </form>
</div>
