<div class="wrapper">
    <form class="form-register" ng-submit="register()">
        <h2 class="form-register-heading">EigenMusik</h2>
        <input type="text" class="form-control" ng-model="username" placeholder="{{ 'USERNAME' | translate }}" required="" autofocus="" />
        <input type="password" class="form-control" ng-model="password" placeholder="{{ 'PASSWORD' | translate }}" required=""/>
        <input type="password" class="form-control" ng-model="passwordConfirmation" placeholder="{{ 'PASSWORD_AGAIN' | translate }}" required=""/>
        <input type="email" class="form-control" ng-model="email" placeholder="{{ 'EMAIL' | translate }}" required="" autofocus="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" loading-button>{{ 'REGISTER' | translate }}</button>
        <div ng-show="alert" class="alert alert-danger text-center" role="alert">{{alert}}</div>
    </form>
</div>
