<p>Login</p>

<!-- FORM -->
<form ng-submit="processForm()"> 
  <!-- NAME -->
  <div id="name-group" class="form-group">
    <input type="text" name="username" class="form-control" placeholder="Username" ng-model="formData.username">
    <span class="help-block"></span>
  </div>

  <!-- SUPERHERO NAME -->
  <div id="superhero-group" class="form-group">
    <input type="text" name="password" class="form-control" placeholder="Password" ng-model="formData.password">
    <span class="help-block"></span>
  </div>

  <!-- SUBMIT BUTTON -->
  <button type="submit" class="btn btn-success btn-lg btn-block">
    <span class="glyphicon glyphicon-flash"></span> Login
  </button>
</form>

<!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
<pre>
    {{ formData }}
</pre>